


body {
  margin: 0;
  padding: 0;
  text-align: center;
  height: 100%;
  position: relative;
}
main {
  position: relative;
  text-align: center;
  padding-bottom: 2%;
}
.title-partner {
  color: #054457;
  width: 334px;
  font-family: Rubik;
  font-size: 40px;
  letter-spacing: 0.25;
}
.bar-partner {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 450px;
  border-radius: 50px;
  border: 3px solid #06988d;
  margin-left: auto;
  margin-right: auto;
}
.text-description {
  color: rgba(115.00000074505806, 120.00000044703484, 140.00000685453415, 1);
  width: 859px;
  height: 34px;
  font-family: Poppins;
  font-size: 15px;
}
.become-partner {
  color: white;
  background-color: #06988d;
  box-shadow: 5px 4px 4px rgba(0, 0, 0, 0.25);
  width: 229px;
  height: 47px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 0px;
  margin: 3%;
}
.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.box {
  width: 30%;
  padding: 10px;
  text-align: center;
}

.box img {
  width: 20%;
  height: auto;
  margin-bottom: 10%;
}

.box h3 {
  font-size: 25px;
  margin-bottom: 10%;
  font-family: Rubik;
  padding-top: 2%;
  /*text-decoration: overline;
  text-decoration-color: #06988d;*/

}

.box p {
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 10%;
}

.title-avantage {
  color: #054457;
  width: 334px;
  font-family: Rubik;
  font-size: 40px;
  letter-spacing: 0.25;
  padding: 2%;
  margin-left: auto;
  margin-right: auto;
}

.containers {
  align-items: center;
  background-color: #f8f9fa;
  padding: 1%;
}


.card {
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 300px;
  height: 300px;
  text-align: center;
  transition: all 0.3s ease-in-out;
  margin-left: auto;
  margin-right: auto;
}

.card h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;

}

.card p {
  line-height: 1.5;
  color: #666666;
}
.card:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);

}


.bar-partners {
  width: 50%;
  border-radius: 50px;
  border: 2px solid #06988d;
  margin-left: auto;
  margin-right: auto;
}

.card:hover h2 {
  color: #06988d; /* changer la couleur en rouge */
}



.title-partners{
  color: #054457;
  width: 334px;
  font-family: Rubik;
  font-size: 40px;
  letter-spacing: 0.25;
}

