footer {
  background-color: #f8f9fa;
  padding: 1%;
}
a:hover {
  color: #06988d;
}

a{
  color: rgba(0,0,0,.5)
}
.logo2 {
  width: 70px;
  margin-right: 10px;
}

.slogan {
  font-size: 16px;
  font-weight: bold;
}
.title-news {
  font-size: 18px;
  font-weight: bold;
  margin: 0 20px;
}
.newsletter {
  margin-right: 10px;
}

.service-zone {
  margin-top: 30px;
}

.service {
  font-weight: bold;
  font-size: 16px;
  margin-right: 20px;
}

.about-foot,
.contactt,
.private {
  font-size: 14px;
  margin-right: 20px;
}

.label-social {
  font-weight: bold;
  font-size: 16px;
  margin-right: 20px;
}

.logo3,
.logo4,
.logo5 {
  width: 30px;
  margin-right: 10px;
}

@media (max-width: 768px) {
  .slogan {
    display: block;
    margin-bottom: 10px;
  }

  .title-news {
    margin: 0;
    margin-bottom: 10px;
  }

  .newsletter {
    margin: 0;
    margin-bottom: 10px;
    
  }

  .service-zone {
    margin-top: 20px;
  }

  .about-foot,
  .contactt,
  .private {
    margin-bottom: 10px;
  }
}
