.nav-bar {
    overflow: hidden;
    display: flex;
  }
  .nav-bar {
    width: 458.00006103515625px;
    height: 36.23583984375px;
    margin-left: 65%;
    margin-top: 0%;
    position: absolute;
  }
  .login {
    background-color: rgba(
      6.000000117346644,
      152.0000061392784,
      141.0000067949295,
      1
    );
    width: 94.18809509277344px;
    height: 35.68840026855469px;
    position: absolute;
    left: 363.81195068359375px;
    top: 0px;
  }
  .login2 {
    color: rgba(255, 255, 255, 1);
    width: 61px;
    height: 16px;
    position: absolute;
    left: 16.59404754638672px;
    top: 10.16864013671875px;
    font-family: Poppins;
    text-align: left;
    font-size: 10.382081031799316px;
    letter-spacing: 0.25;
    line-height: px;
  }
  .register {
    background-color: rgba(
      244.93944704532623,
      244.93944704532623,
      244.93944704532623,
      1
    );
    width: 108px;
    height: 36px;
    position: absolute;
    left: 256px;
    top: 0.23583984375px;
  }
  .register2 {
    color: rgba(6.000000117346644, 152.0000061392784, 141.0000067949295, 1);
    width: 61px;
    height: 16px;
    position: absolute;
    left: 23.5px;
    top: 10.324440002441406px;
    font-family: Poppins;
    text-align: left;
    font-size: 10.382081031799316px;
    letter-spacing: 0.25;
    line-height: px;
  }
  .about {
    color: rgba(142.00000673532486, 142.00000673532486, 142.00000673532486, 1);
    width: 57px;
    height: 17px;
    position: absolute;
    left: 193px;
    top: 10.23583984375px;
    font-family: Poppins;
    text-align: left;
    font-size: 11.679841041564941px;
    letter-spacing: 0.32444003224372864;
    line-height: px;
  }
  .partner {
    color: rgba(142.00000673532486, 142.00000673532486, 142.00000673532486, 1);
    width: 99px;
    height: 17px;
    position: absolute;
    left: 68px;
    top: 10.23583984375px;
    font-family: Poppins;
    text-align: left;
    font-size: 11.679841041564941px;
    letter-spacing: 0.32444003224372864;
    line-height: px;
  }
  .home {
    width: 55px;
    height: 17px;
    position: absolute;
    left: 0px;
    top: 10.23583984375px;
    font-family: Poppins;
    text-align: left;
    font-size: 11.679841041564941px;
    letter-spacing: 0.32444003224372864;
    line-height: px;
  }
  .head {
    background-color: #f5f5f5;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .logo {
    height: 14%;
    position: absolute;
    top: 0;
    left: 3%;
  }