<link href="{{ asset('style/fooTer.css') }}" type="text/css" rel="stylesheet">

<!DOCTYPE html>
<html lang="en">
	<footer>
		<img class="logo2" src="img/Logo.png" alt="logo">
		<span class="slogan">
			Lessivez, rencontrez, et pédalez</span>
		<span class="title-news">
			Venez suivre nos aventures</span>
		<div class="newsletter">
			<input type="text" placeholder="Saisissez votre e-mail" class="mail" required>
			<button class="send-news" type="button">Envoyer</button>
		</div>

		<div class="Service-zone">
			<span class="service">Service</span>
			<a href="/">
				<span class="about-foot">À Propos</span>
			</a>
			<a href="/">
				<span class="contact">Nous contacter</span>
			</a>
			<a href="/">
				<span class="private">Thermes et Conditions</span>
			</a>
		</div>
		<div class="social-network">
			<span class="label-social">Suivez nous sur
			</span>
			<img class="logo3" src="img/instagram.png" alt="logo">
			<img class="logo4" src="img/facebook.png" alt="logo">
			<img class="logo5" src="img/linkedin.png" alt="logo">
		</div>
	</footer>
</html>
