<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta
		name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- Ajouter le lien vers le fichier CSS de Bootstrap -->
		<link
		rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
		<!-- Ajouter le lien vers votre fichier CSS personnalisé -->
		<link rel="stylesheet" href="{{ asset('style/navBar.css')}}" type="text/css">
		<link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Rubik&display=swap" rel="stylesheet">
		<title>Wash&Watt</title>
		<meta property="og:title" content="WashandWatt"/>
		<meta property="og:description" content="La première laverie réservée aux étudiants pour se rencontrer, contribuer au développement durable, et faire du sport. Laver, pedaler, et créer de l’énergie dans un lieu inédit favorisant les interactions sociales."/>
		<meta name="Language" content="fr"/>
		<meta charset="utf-8"/>

	</head>


	<header>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand" href="/"><img class="logo" src="img/Logo.png" alt="logo"></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item">
						<a class="nav-link" href="/">Accueil</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/partenaires">Nos Partenaires</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/apropos">À Propos</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/inscription">Inscription</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/connexion">Connexion</a>
					</li>
				</ul>
			</div>
		</nav>
	</header>

	<!-- Ajouter le lien vers le fichier JavaScript de Bootstrap -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</html>
