<link href="{{ asset('style/navBar.css') }}" type="text/css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Rubik&display=swap" rel="stylesheet">

<!DOCTYPE html>
<html lang="en">
	<header>
		<div class="head">
			<img class="logo" src="img/Logo.png" alt="logo">
			<div class="nav-bar">
				<a href="/" class="home">Accueil</a>
				<a href="/partenaires" class="partner">Nos Partenaires</a>
				<a href="/apropos" class="about">À Propos</a>
				<a href="/inscription" class="register">
					<span class="register2">Inscription</span>
				</a>
				<a href="/connexion" class="login">
					<span class="login2">Connexion</span>
				</a>
			</div>
		</div>
	</header>
</html>