<!DOCTYPE html>
<html lang="en">
	<head>
		<meta
		name="viewport" content="width=device-width, initial-scale=1">
		<!-- importer la bibliothèque Bootstrap -->
		<link
		rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
		<!-- importer la bibliothèque jQuery -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<!-- importer la bibliothèque Popper.js -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
		<!-- importer la bibliothèque Bootstrap -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
		<link href="{{ asset('style/fooTer.css') }}" type="text/css" rel="stylesheet">
	</head>

	<footer class="container-fluid">
		<div class="row">
			<div class="col-md-4">
				<img class="logo2" src="img/Logo.png" alt="logo">
				<span class="slogan">Lessivez, rencontrez, et pédalez</span>
			</div>
			<div class="col-md-5">
				<div class="iframe-wrapper">
					<iframe width="370" height="380" src="https://ccb90580.sibforms.com/serve/MUIEAL2vEj2dpgaQ9kAHJgFMUgSNH0xN3y2rRTDL-cEheEXQCFJOp8JZl0I2gZKMn-iEmgwmh9gl3PQnBAA7tleM2A9IxYdtJ5VDlMrcf-mGGPzC-go77Utu1eAGKxAXVK2BukBQsdIyk5hIyuoWNcSsSFXYRbf6j7RcxiTGsFhGDIg2mZDaLwmQJUK82Pe37qAvFDh7zDMPs9lH" frameborder="0" scrolling="no" allowfullscreen></iframe>
				</div>
			</div>
			<div class="col-md-3">
				<span class="service">Service</span>
				<ul class="list-unstyled">
					<li>
						<a class="contactt" href="/">Nous contacter</a>
					</li>
					<li>
						<a class="private" href="/mention">Mentions Légales</a>
					</li>
				</ul>
				<div class="social-network">
					<span class="label-social">Suivez nous sur</span>
					<img class="logo3" src="img/instagram.png" alt="logo">
					<img class="logo4" src="img/facebook.png" alt="logo">
					<img class="logo5" src="img/linkedin.png" alt="logo">
				</div>
			</div>
		</div>
		<div class="copyright">
			<br>&copy; 2023 Gomes Duarte Hugo - Dupont Mathis.
		</div>
	</footer>
</html>
