<link href="{{ asset('style/homePage.css') }}" type="text/css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">

<!DOCTYPE html>
<html lang="en">

	<div class="e101_1461">
		<a href="/" class="e101_1471">Accueil</a>
		<a href="/partenaires" class="e101_1473">Nos Partenaires</a>
		<a href="/apropos" class="e101_1474">À Propos</a>
		<a href="/inscription" class="e101_1479">
			<span class="e101_1480">Inscription</span>
		</a>
		<a href="/connexion" class="e101_1477">
			<span class="e101_1478">Connexion</span>
		</a>
	</div>


</html>
