<link href="{{ asset('style/partnerPage.css') }}" type="text/css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Rubik&display=swap" rel="stylesheet">
{% include 'navBar.html.twig' %}
{% include 'fooTer.html.twig' %}
<!DOCTYPE html>
<html lang="en">
	<body>

		<h1>
			<span class="title-partner">Nos Partenaires</span>
		</h1>
		<div class="bar-partner"></div>
		<div class="button">
			<div class="button2">
				<a href="/">
					<button class="become-partner" type="button">Devenons Partenaire</button>
				</a>
			</div>
		</div>
		<span class="text-description">Nous sommes reconnaissants pour le soutien de nos partenaires qui nous permettent de continuer dans cette aventure</span>


		<!-- <div class="cards">
																																									<div class="cards2"></div>
																																								</div>
																																								-->
	</body>

</html>
