<link rel="stylesheet" href="{{ asset('style/partnerPage.css') }}">
<script src="style/homePage.js"></script>
<link rel="stylesheet" href="{{ asset('style/homePage.js') }}">
<div id="app"></div>


<footer>
	<p>
		Created with
		<i class="fa fa-heart"></i>
		by
		<a target="_blank" href="https://florin-pop.com">Florin Pop</a>
		- Learn how I built it
		<a target="_blank" href="https://florin-pop.com/blog/2019/05/countdown-built-with-react/">in this post</a>
	</p>
</footer>
